In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('submission_0802.csv')

In [3]:
df.head()

         ImageId                                      EncodedPixels
0  a052a011a.jpg  510367 10 511135 10 511903 10 512671 13 513439...
1  2ceb066bf.jpg                                                NaN
2  e5bc841d9.jpg                                                NaN
3  e4f20451c.jpg                                                NaN
4  d6e432b79.jpg                                                NaN

In [4]:
len(df['EncodedPixels'])

88486

In [5]:
count = 0
for i in range(len(df['EncodedPixels'])):
    p = df['EncodedPixels'][i]
    if p == p:
        array = p.split(" ")
        if len(array) % 2 != 0:
            a = p[:-1] + str(" ") + p[-1]
            df['EncodedPixels'][i] = a
            count += 1

In [8]:
count

2163

In [7]:
df.to_csv('submission_0802_1.csv', header=True, index=False)

In [8]:
df2 = pd.read_csv('submission_0802_1.csv')

In [10]:
df2.tail()

             ImageId EncodedPixels
88481  43e1b37b6.jpg           NaN
88482  9d17e5a71.jpg           NaN
88483  6e97dacde.jpg           NaN
88484  065dc0d2b.jpg           NaN
88485  29c9cd248.jpg           NaN

In [16]:
for i in range(len(df2['EncodedPixels'])):
    p = df2['EncodedPixels'][i]
    if p == p:
        array = p.split(" ")
        if len(array) > 0:
            for j in range(len(array)):
                try:
                    a = int(array[j])
                    if a > 768*768:
                        print("error: {}".format(a))
                except:
                    print(array)
                    print(p)
                    df2['EncodedPixels'][i] = p + '1'

['19666', '']
19666
['229246', '']
229246
['362692', '']
362692
['494020', '']
494020
['104701', '']
104701
['14776', '']
14776
['408640', '']
408640
['422422', '']
422422
['494173', '']
494173
['258997', '']
258997
['447988', '']
447988
['129811', '']
129811
['364864', '']
364864
['153568', '']
153568
['510382', '']
510382
['339820', '']
339820
['59071', '']
59071
['517288', '']
517288
['121090', '']
121090
['314323', '']
314323
['563254', '']
563254
['524488', '']
524488
['243280', '']
243280
['505969', '']
505969
['187402', '']
187402
['312529', '']
312529
['524251', '']
524251
['49159', '']
49159
['231505', '']
231505
['300946', '']
300946
['464206', '']
464206
['58807', '']
58807
['173653', '']
173653
['33550', '']
33550
['109099', '']
109099
['17386', '']
17386
['81730', '']
81730
['72544', '']
72544
['245104', '']
245104
['325690', '']
325690
['36064', '']
36064
['220126', '']
220126
['346894', '']
346894
['369868', '']
369868
['394789', '']
394789
['367366', '']
367366
['279976', '']
279976
['505711', '']
505711
['471172', '']
471172
['220102', '']
220102
['374725', '']
374725
['556597', '']
556597
['487585', '']
487585
['491641', '']
491641
['363223', '']
363223
['51679', '']
51679
['374077', '']
374077
['572824', '']
572824
['203608', '']
203608
['537640', '']
537640
['505630', '']
505630
['275239', '']
275239
['298021', '']
298021
['443197', '']
443197
['54250', '']
54250
['288958', '']
288958
['26317', '']
26317
['316807', '']
316807
['61120', '']
61120
['181024', '']
181024
['70471', '']
70471
['132259', '']
132259
['455236', '']
455236
['162793', '']
162793
['470884', '']
470884
['542866', '']
542866
['56524', '']
56524
['178219', '']
178219
['97642', '']
97642
['201337', '']
201337
['268564', '']
268564
['49894', '']
49894
['528421', '']
528421
['151258', '']
151258
['49600', '']
49600
['45055', '']
45055
['436636', '']
436636
['268096', '']
268096
['390301', '']
390301
['279631', '']
279631
['12490', '']
12490
['53821', '']
53821
['224350', '']
224350
['485284', '']
485284
['464389', '']
464389
['353305', '']
353305
['470821', '']
470821
['155629', '']
155629
['229228', '']
229228
['473275', '']
473275
['404437', '']
404437
['450805', '']
450805
['192535', '']
192535
['76810', '']
76810
['515254', '']
515254
['40036', '']
40036
['130030', '']
130030
['431980', '']
431980
['452566', '']
452566
['63658', '']
63658
['10237', '']
10237
['16921', '']
16921
['556294', '']
556294
['3085', '']
3085
['153586', '']
153586
['523819', '']
523819
['303214', '']
303214
['420241', '']
420241
['498886', '']
498886
['33307', '']
33307
['459946', '']
459946
['371962', '']
371962
['90793', '']
90793
['300487', '']
300487
['159871', '']
159871
['65368', '']
65368
['132289', '']
132289
['319258', '']
319258
['544660', '']
544660
['346444', '']
346444
['325879', '']
325879
['354010', '']
354010
['487633', '']
487633
['21538', '']
21538
['215356', '']
215356
['360790', '']
360790
['152905', '']
152905
['26854', '']
26854
['351622', '']
351622
['478102', '']
478102
['118288', '']
118288
['570061', '']
570061
['493843', '']
493843
['547450', '']
547450
['12319', '']
12319
['266236', '']
266236
['556642', '']
556642
['494086', '']
494086
['272944', '']
272944
['381382', '']
381382
['394834', '']
394834
['576991', '']
576991
['450676', '']
450676
['326371', '']
326371
['441565', '']
441565
['531163', '']
531163
['576973', '']
576973
['337699', '']
337699
['284206', '']
284206
['533137', '']
533137
['10720', '']
10720
['560710', '']
560710
['245689', '']
245689
['530752', '']
530752
['5842', '']
5842
['514828', '']
514828
['565294', '']
565294
['16969', '']
16969
['106843', '']
106843
['144016', '']
144016
['381370', '']
381370
['484984', '']
484984
['353866', '']
353866
['542728', '']
542728
['44590', '']
44590
['51466', '']
51466
['122947', '']
122947
['174253', '']
174253
['552052', '']
552052
['105184', '']
105184
['390367', '']
390367
['111472', '']
111472
['247444', '']
247444
['171358', '']
171358
['8191', '']
8191
['341920', '']
341920
['401704', '']
401704
['123574', '']
123574
['17410', '']
17410
['505372', '']
505372
['178198', '']
178198
['307441', '']
307441
['26854', '']
26854
['395155', '']
395155
['367714', '']
367714
['508381', '']
508381
['508048', '']
508048
['38266', '']
38266
['194542', '']
194542
['146140', '']
146140
['68026', '']
68026
['446104', '']
446104
['399817', '']
399817
['517516', '']
517516
['379132', '']
379132
['250132', '']
250132

In [17]:
df2.to_csv('submission_0802_2.csv', header=True, index=False)